*{
    background-color: #FFD700;
}
body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo i{
    font-size: 900%;
    animation-name: loading;
    animation-duration:2s;
}

@keyframes loading {
    0%{
        
        scale:80%;
    }
    100%{
        
        scale: 100%;
    }
}